{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1 style="margin-left:450px">Quadro Societário</h1>
    <br>
    <div class="row">
        <a href="http://localhost/quadro_societario/public/empresas/criar" style="margin-left:80px"
           class="btn btn-primary btn-lg btn-block">Abrir Empresa</a>
        <a href="http://localhost/quadro_societario/public/pessoas/criar" style="margin-left:80px"
           class="btn btn-secondary btn-lg btn-block">Cadastrar Pessoa</a>
        <br>
    </div>
{% endblock %}